.meal{
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.meal img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;

}
.button{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}